// Fonts
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Sacramento');

// Sass Components
@import "base/index";

body {
  width: 100%;
}

h1 {
  font-family: $stack-sacramento;
  font-size: 2em;
  padding: 1em;
  text-align: right;
}

.resume {
  text-align: left;
  font-size: 2.5em;
}

h2 {
  font-family: $stack-advent;
  letter-spacing: .1em;
  padding-bottom: 1em;
}

h2 a {
  color: $black;
  font-family: $stack-sacramento;
}

h3 {
  font-family: $stack-sacramento;
  padding: 1em;
  font-size: 3em;
}

h3.title {
  padding: .5em;
}

h3 a {
  color: $black;
}

h4 a {
  color: #00008b;
}

p {
  font-variant: small-caps;
  margin: .8em;
  text-align: left;
}

span {
  color: #00008b;
  font-weight: bold;
  font-size: 1.2em;
}

.link {
  font-family: $stack-sacramento;
  font-size: 1.5em;
}

.background {
  @extend %align;
  @extend %image;
  width: 100%;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  @extend %centered;
}

.container {
  display: flex-inline;
}

.content {
  // border: 1px solid $black;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 3em;
  width: 600px;
}

.credentials {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 45%;
}

.exit {
  // z-index: 1;
  display: block;
  margin: 0 auto;
  width: 75px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.grow {
  width: 100%;
}

.hide {
  opacity: 0;
}

.icon {
  margin: 1em;
  width: 3em;
}

.image {
  width: 90%;
}

.intro {
  @extend %centered;
  background-repeat: no-repeat;
  background-position: right;
  height: 30%;
}

.margin {
  margin-bottom: 3em;
}

.name {
  color: $black;
}

.savvy {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 60%;
}

.social {
  margin: 1.3em .2em;
  width: 1.2em;
}

.plus-minus {
  padding: 1em;
}

.plus-minus li a {
  color: $black;
  font-size: 2em;
}

.vertical-text {
  color: $black;
  font-family: 'Great Vibes', cursive;
  // font-family: $stack-dosis;
  // font-variant: small-caps;
  font-size: .9em;
  transform: rotate(-90deg);
  display: inline-block;
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border: 5px solid $white;
  background: $black;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  // flex-basis: 0;
  flex-wrap: wrap;
  // -webkit-filter: grayscale(100%);
  // &:hover {
  //   opacity: 1;
  //   filter: none;
  //   -webkit-filter: grayscale(0%);
  // }
}

#newImageOne,
#newImageTwo,
#newImageThree,
#newImageFour,
#newImageFive,
// #newImageSix,
#newImageSeven,
#imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo {
  @extend %align;
  @extend %image;
  // @extend %opacity;
  &:hover {
    opacity: 1;
  }
}

//Photos

#newImageOne {
  background-image: url('#{$path-img}/vegas-one.png');
}

#newImageTwo {
  background-image: url('#{$path-img}/vegas-two.png');
}

#newImageThree {
  background-image: url('#{$path-img}/vegas-three.png');
}

#newImageFour {
  background-image: url('#{$path-img}/vegas-four.png');
}

#newImageFive {
  background-image: url('#{$path-img}/vegas-five.png');
}

// #newImageSix {
//   background-image: url('#{$path-img}/vegas-six.png');
// }

#newImageSeven {
  background-image: url('#{$path-img}/vegas-seven.png');
}

#imageOne {
  background-image: url('#{$path-img}/rooftop1color.png');
}

#imageTwo {
  background-image: url('#{$path-img}/rooftop5color.png');
}

#imageThree {
  background-image: url('#{$path-img}/rooftop2color.png');
}

#imageFour {
  background-image: url('#{$path-img}/boudoir1.jpg');
}

#imageFive {
  background-image: url('#{$path-img}/boudoir2.jpg');
}

#imageSix {
  background-image: url('#{$path-img}/back.png');
}

#imageSeven {
  background-image: url('#{$path-img}/boudoir8.jpg');
}

#imageEight {
  background-image: url('#{$path-img}/boudoir9.jpg');
}

#imageNine {
  background-image: url('#{$path-img}/butterfly.jpg');
}

#imageTen {
  background-image: url('#{$path-img}/boudoir6.jpg');
}

#imageEleven {
  background-image: url('#{$path-img}/bedroom1.png');
}

#imageTwelve {
  background-image: url('#{$path-img}/beach.jpg');
}

#imageThirteen {
  background-image: url('#{$path-img}/beach2.jpg');
}

#imageFourteen {
  background-image: url('#{$path-img}/sauvie3.jpg');
}

#imageFifteen {
  background-image: url('#{$path-img}/gogocolor.jpg');
}

#imageSixteen {
  background-image: url('#{$path-img}/bootygogo.png');
}

#imageSeventeen {
  background-image: url('#{$path-img}/gogo.jpg');
}

#imageEighteen {
  background-image: url('#{$path-img}/gogo2.jpg');
}

#imageNineteen {
  background-image: url('#{$path-img}/gogo5.jpg');
}

#imageTwenty {
  background-image: url('#{$path-img}/urban.png');
}

#imageTwentyOne {
  background-image: url('#{$path-img}/bootydeck.png');
}

#imageTwentyTwo {
  background-image: url('#{$path-img}/booty2.png');
}

// Media Queries
@media only screen and
(min-width: 1024px)
and (max-width: 1025px) {
  .social {
    margin: 18em .2em;
    width: 1.2em;
  }
}

@media only screen and
(min-width: 667px)
and (max-width: 768px) {
  .social {
    margin: 9em .2em;
    width: 1.2em;
  }
  //Modal//
  .ui.modal {
    width: 88%;
  }
}

@media only screen
and (max-width: 415px) {
  .content {
    display: block;
    font-size: 10px;
    margin: 0 auto;
    width: 290px;
  }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .info {
    font-size: 8px;
  }

  .label,
  .intro {
    background-image: url('#{$path-img}/hidden.svg');
  }

  .menu li {
    padding: 3em;
  }

  .modal {
    width: 100%;
  }

  .name {
    font-size: 1.6em;
  }

  .wrapper {
    margin: 0 auto;
  }
}
