@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Sacramento");
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Sacramento");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo, .columns, .gallery {
  display: flex; }

#footer-title, .contact, .intro {
  text-align: center; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo {
  align-items: center;
  justify-content: center; }

h4 {
  color: #000000;
  font-family: 'Advent Pro', sans-serif;
  padding: .5em;
  text-align: right; }

.modal {
  display: none; }
  .modal .image {
    display: block;
    margin: 0 auto;
    width: 100%; }

.create {
  width: 100%;
  height: 100%; }

#footer-title {
  font-family: "Sacramento", cursive;
  font-size: 1em; }

#footer {
  font-size: 2em; }

body {
  width: 100%; }

h1 {
  font-family: "Sacramento", cursive;
  font-size: 2em;
  padding: 1em;
  text-align: right; }

.resume {
  text-align: left;
  font-size: 2.5em; }

h2 {
  font-family: "Advent Pro", sans-serif;
  letter-spacing: .1em;
  padding-bottom: 1em; }

h2 a {
  color: #000000;
  font-family: "Sacramento", cursive; }

h3 {
  font-family: "Sacramento", cursive;
  padding: 1em;
  font-size: 3em; }

h3.title {
  padding: .5em; }

h3 a {
  color: #000000; }

h4 a {
  color: #000000; }

p {
  font-variant: small-caps;
  margin: .8em;
  text-align: left; }

span {
  color: #C01212;
  font-weight: bold;
  font-size: 1.2em; }

.background {
  width: 100%;
  height: auto; }

.center {
  margin-left: auto;
  margin-right: auto; }

.container {
  display: flex-inline; }

.content {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 3em;
  width: 600px; }

.credentials {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 45%; }

.exit {
  display: block;
  margin: 0 auto;
  width: 75px;
  transition: all .2s ease-in-out; }
  .exit:hover {
    transform: scale(1.1); }

.grow {
  width: 100%; }

.hide {
  opacity: 0; }

.icon {
  margin: 1em;
  width: 3em; }

.image {
  width: 90%; }

.intro {
  background-repeat: no-repeat;
  background-position: right;
  height: 30%; }

.margin {
  margin-bottom: 3em; }

.name {
  color: #000000; }

.savvy {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 60%; }

.social {
  margin: 1.3em .2em;
  width: 1.2em; }

.plus-minus {
  padding: 1em; }

.plus-minus li a {
  color: #000000;
  font-size: 2em; }

.vertical-text {
  color: #000000;
  font-family: 'Great Vibes', cursive;
  font-size: .9em;
  transform: rotate(-90deg);
  display: inline-block; }

.column {
  width: 200px;
  border: 5px solid #FFFFFF;
  background: #000000;
  flex: .2; }

.mainColumn {
  flex: 2; }

.box {
  width: 25%;
  height: 500px;
  flex-grow: 1; }

.gallery {
  flex-wrap: wrap; }

#imageOne:hover,
#imageTwo:hover,
#imageThree:hover,
#imageFour:hover,
#imageFive:hover,
#imageSix:hover,
#imageSeven:hover,
#imageEight:hover,
#imageNine:hover,
#imageTen:hover,
#imageEleven:hover,
#imageTwelve:hover,
#imageThirteen:hover,
#imageFourteen:hover,
#imageFifteen:hover,
#imageSixteen:hover,
#imageSeventeen:hover,
#imageEighteen:hover,
#imageNineteen:hover,
#imageTwenty:hover,
#imageTwentyOne:hover,
#imageTwentyTwo:hover {
  opacity: 1; }

#imageOne {
  background-image: url("../img/rooftop1color.png"); }

#imageTwo {
  background-image: url("../img/rooftop5color.png"); }

#imageThree {
  background-image: url("../img/rooftop2color.png"); }

#imageFour {
  background-image: url("../img/boudoir1.jpg"); }

#imageFive {
  background-image: url("../img/boudoir2.jpg"); }

#imageSix {
  background-image: url("../img/back.jpg"); }

#imageSeven {
  background-image: url("../img/boudoir8.jpg"); }

#imageEight {
  background-image: url("../img/boudoir9.jpg"); }

#imageNine {
  background-image: url("../img/butterfly.jpg"); }

#imageTen {
  background-image: url("../img/boudoir6.jpg"); }

#imageEleven {
  background-image: url("../img/bedroom1.png"); }

#imageTwelve {
  background-image: url("../img/beach.jpg"); }

#imageThirteen {
  background-image: url("../img/beach2.jpg"); }

#imageFourteen {
  background-image: url("../img/sauvie3.jpg"); }

#imageFifteen {
  background-image: url("../img/gogocolor.jpg"); }

#imageSixteen {
  background-image: url("../img/bootygogo.png"); }

#imageSeventeen {
  background-image: url("../img/gogo.jpg"); }

#imageEighteen {
  background-image: url("../img/gogo2.jpg"); }

#imageNineteen {
  background-image: url("../img/gogo5.jpg"); }

#imageTwenty {
  background-image: url("../img/urban.png"); }

#imageTwentyOne {
  background-image: url("../img/bootydeck.png"); }

#imageTwentyTwo {
  background-image: url("../img/booty2.png"); }

@media only screen and (min-width: 1024px) and (max-width: 1025px) {
  .social {
    margin: 18em .2em;
    width: 1.2em; } }
@media only screen and (min-width: 667px) and (max-width: 768px) {
  .social {
    margin: 9em .2em;
    width: 1.2em; }

  .ui.modal {
    width: 88%; } }
@media only screen and (max-width: 415px) {
  .content {
    border: 2px solid #000000;
    display: block;
    margin: 0 auto;
    width: 290px; }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain; }

  .label,
  .intro {
    background-image: url("../img/hidden.svg"); }

  .menu li {
    padding: 3em; }

  .modal {
    width: 100%; }

  .name {
    font-size: 1.6em; }

  .wrapper {
    margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
