@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Molle:400i|Yanone+Kaffeesatzz|Cookie|Lora|Dosis|Yellowtail");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo,
#imageTwentyThree,
#imageTwentyFour,
#imageTwentyFive,
#imageTwentySix,
#imageTwentySeven,
#imageTwentyEight,
#imageTwentyNine,
#imageThirty,
#imageThirtyOne,
#imageThirtyTwo,
#imageThirtyThree,
#imageThirtyFour,
#imageThirtyFive,
#imageThirtySix,
#imageThirtySeven,
#imageThirtyEight,
#imageThirtyNine,
#imageForty, .columns, .gallery {
  display: flex; }

#footer-title, .contact, .intro, .label {
  text-align: center; }

#imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo,
#imageTwentyThree,
#imageTwentyFour,
#imageTwentyFive,
#imageTwentySix,
#imageTwentySeven,
#imageTwentyEight,
#imageTwentyNine,
#imageThirty,
#imageThirtyOne,
#imageThirtyTwo,
#imageThirtyThree,
#imageThirtyFour,
#imageThirtyFive,
#imageThirtySix,
#imageThirtySeven,
#imageThirtyEight,
#imageThirtyNine,
#imageForty {
  opacity: .5; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo,
#imageTwentyThree,
#imageTwentyFour,
#imageTwentyFive,
#imageTwentySix,
#imageTwentySeven,
#imageTwentyEight,
#imageTwentyNine,
#imageThirty,
#imageThirtyOne,
#imageThirtyTwo,
#imageThirtyThree,
#imageThirtyFour,
#imageThirtyFive,
#imageThirtySix,
#imageThirtySeven,
#imageThirtyEight,
#imageThirtyNine,
#imageForty {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.background, #imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo,
#imageTwentyThree,
#imageTwentyFour,
#imageTwentyFive,
#imageTwentySix,
#imageTwentySeven,
#imageTwentyEight,
#imageTwentyNine,
#imageThirty,
#imageThirtyOne,
#imageThirtyTwo,
#imageThirtyThree,
#imageThirtyFour,
#imageThirtyFive,
#imageThirtySix,
#imageThirtySeven,
#imageThirtyEight,
#imageThirtyNine,
#imageForty {
  align-items: center;
  justify-content: center; }

h4 {
  color: #000000;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  padding: .5em;
  text-align: center; }

h5 {
  font-family: 'Great Vibes', cursive;
  text-align: center; }

.modal {
  display: none; }
  .modal .image {
    display: block;
    margin: 0 auto;
    width: 100%; }

.create {
  width: 100%;
  height: 100%; }

#footer-title {
  font-family: 'Great Vibes', cursive;
  font-size: 1em;
  margin: 1em; }

#footer {
  font-size: 3em; }

header {
  position: fixed;
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 100; }
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: transparent; }

.nav [type=checkbox] {
  display: none; }

.list-none {
  list-style: none; }

.floating-li > li {
  display: inline-block; }

.hamburger {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 2;
  overflow: hidden;
  padding: 0;
  width: 42px;
  height: 42px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  transition: background 0.3s; }

.hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #000000; }

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  content: ""; }

.hamburger span::before {
  top: -6px; }

.hamburger span::after {
  bottom: -6px; }

/** Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
* down to center and transform into an "x". */
.hamburger--htx {
  background-color: transparent; }

.hamburger--htx span {
  transition: background 0s 0.3s; }

.hamburger--htx span::before,
.hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.hamburger--htx span::before {
  transition-property: top, transform; }

.hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
[type=checkbox]:checked ~ label {
  background-color: rgba(0, 0, 0, 0); }

[type=checkbox]:checked ~ label span {
  background: none; }

[type=checkbox]:checked ~ label span::before {
  top: 0;
  transform: rotate(45deg); }

[type=checkbox]:checked ~ label span::after {
  bottom: 0;
  transform: rotate(-45deg); }

[type=checkbox]:checked ~ label span::before,
[type=checkbox]:checked ~ label span::after {
  transition-delay: 0.3s, 0.3s; }

.menu {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0 42px;
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform 0.65s; }

.menu a {
  font-size: 2.7em;
  color: #000000; }
  .menu a:hover {
    color: #FFFFFF; }

.menu li {
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 4em; }
  .menu li:first-child {
    margin-top: 42px; }

.menu li:last-child {
  border-bottom: none; }

[type=checkbox]:checked ~ label ~ .menu {
  transform: scale(1);
  animation-name: slide-down;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

[type=checkbox]:checked ~ label ~ .menu li {
  opacity: 1;
  transition-delay: 1.05s;
  transition-delay: 0.75s; }

.content-section {
  min-height: 70vh;
  padding: 2em 1em;
  background-color: #fff; }

.colored {
  background-color: #FFFFFF; }

.white {
  background-color: #FFFFFF; }

.article {
  width: 100%;
  max-width: 70em; }

@media (min-width: 700px) {
  .article {
    column-count: 2;
    column-gap: 4%; } }
@media (min-width: 1000px) {
  .article {
    column-count: 3;
    column-gap: 1%; } }
@keyframes slide-down {
  0% {
    transform: scale(1, 0); }
  100% {
    transform: scale(1, 1); } }
@keyframes imitate-video {
  0%, 100% {
    transform: scale(1) translate(-50%, -50%); }
  40% {
    transform: scale(1.05) translate(-50.5%, -49.75%); }
  60% {
    transform: scale(1.09) translate(-48%, -48%); } }
.fscreen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 2em; }

.fscreen-title {
  position: relative;
  top: 30%;
  animation: slide-title-in 2000ms 1 alternate forwards;
  -webkit-animation: slide-title-in 2000ms 1 alternate forwards; }

@keyframes slide-title-in {
  0% {
    opacity: 0;
    transform: translateY(50vh); }
  50% {
    opacity: 0;
    transform: translateY(50vh); }
  80% {
    opacity: 0.1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
body {
  width: 100%; }

h2 {
  color: #E71D36;
  font-family: 'Great Vibes', cursive;
  letter-spacing: .2em;
  padding-top: .8em; }

h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  padding: 2em;
  letter-spacing: .2em; }

h3.title {
  padding: .5em; }

p {
  font-family: "Lora", serif;
  padding: 1.5em; }

span {
  color: #4A90E2; }

.background {
  width: 100%;
  height: 100vh; }

.center {
  margin-left: auto;
  margin-right: auto; }

.container {
  display: flex-inline; }

.content {
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
  width: 500px; }

.credentials {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 45%; }

.exit {
  display: block;
  margin: 0 auto;
  width: 30px; }

.grow {
  width: 40px;
  transition: all .2s ease-in-out; }
  .grow:hover {
    transform: scale(1.1); }

.icon {
  margin: 1em;
  width: 3em; }

.image {
  width: 90%; }

.intro {
  border-bottom: 1px solid #000000;
  background-color: #FFFFFF;
  height: 30%; }

.label {
  background: #474242;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000; }
  .label a {
    color: #FFFFFF; }
  .label h3 {
    color: #000000; }

.margin {
  margin-bottom: 3em; }

.name {
  color: #000000; }

.savvy {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 60%; }

.social {
  margin: 1.3em .2em;
  width: 1.2em; }

.plus-minus {
  padding: 1em; }

.plus-minus li a {
  color: #000000;
  font-size: 2em; }

.vertical-text {
  color: #000000;
  font-family: 'Great Vibes', cursive;
  font-size: .9em;
  transform: rotate(-90deg);
  display: inline-block; }

.column {
  width: 200px;
  border: 5px solid #FFFFFF;
  background: #000000;
  flex: .2; }

.mainColumn {
  flex: 2; }

.box {
  width: 25%;
  height: 500px;
  flex-grow: 1; }

.gallery {
  flex-wrap: wrap;
  -webkit-filter: grayscale(100%); }
  .gallery:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%); }

#imageOne:hover,
#imageTwo:hover,
#imageThree:hover,
#imageFour:hover,
#imageFive:hover,
#imageSix:hover,
#imageSeven:hover,
#imageEight:hover,
#imageNine:hover,
#imageTen:hover,
#imageEleven:hover,
#imageTwelve:hover,
#imageThirteen:hover,
#imageFourteen:hover,
#imageFifteen:hover,
#imageSixteen:hover,
#imageSeventeen:hover,
#imageEighteen:hover,
#imageNineteen:hover,
#imageTwenty:hover,
#imageTwentyOne:hover,
#imageTwentyTwo:hover,
#imageTwentyThree:hover,
#imageTwentyFour:hover,
#imageTwentyFive:hover,
#imageTwentySix:hover,
#imageTwentySeven:hover,
#imageTwentyEight:hover,
#imageTwentyNine:hover,
#imageThirty:hover,
#imageThirtyOne:hover,
#imageThirtyTwo:hover,
#imageThirtyThree:hover,
#imageThirtyFour:hover,
#imageThirtyFive:hover,
#imageThirtySix:hover,
#imageThirtySeven:hover,
#imageThirtyEight:hover,
#imageThirtyNine:hover,
#imageForty:hover {
  opacity: 1; }

#imageOne {
  background-image: url("../img/boudoir1.jpg"); }

#imageTwo {
  background-image: url("../img/boudoir2.jpg"); }

#imageThree {
  background-image: url("../img/boudoir3.jpg"); }

#imageFour {
  background-image: url("../img/boudoir4.jpg"); }

#imageFive {
  background-image: url("../img/boudoir5.jpg"); }

#imageSix {
  background-image: url("../img/boudoir6.jpg"); }

#imageSeven {
  background-image: url("../img/boudoir7.jpg"); }

#imageEight {
  background-image: url("../img/boudoir8.jpg"); }

#imageNine {
  background-image: url("../img/boudoir9.jpg"); }

#imageTen {
  background-image: url("../img/butterfly.jpg"); }

#imageEleven {
  background-image: url("../img/butterfly2.jpg"); }

#imageTwelve {
  background-image: url("../img/butterfly3.jpg"); }

#imageThirteen {
  background-image: url("../img/shadow.jpg"); }

#imageFourteen {
  background-image: url("../img/shadow2.jpg"); }

#imageFifteen {
  background-image: url("../img/shadow3.jpg"); }

#imageSixteen {
  background-image: url("../img/shadow4.jpg"); }

#imageSeventeen {
  background-image: url("../img/mbellis1.jpg"); }

#imageEighteen {
  background-image: url("../img/mbellis2.jpg"); }

#imageNineteen {
  background-image: url("../img/mbellis3.jpg"); }

#imageTwenty {
  background-image: url("../img/mbellis4.jpg"); }

#imageTwentyOne {
  background-image: url("../img/mbellis5.jpg"); }

#imageTwentyTwo {
  background-image: url("../img/urban.jpg"); }

#imageTwentyThree {
  background-image: url("../img/beach.jpg"); }

#imageTwentyFour {
  background-image: url("../img/beach1.jpg"); }

#imageTwentyFive {
  background-image: url("../img/beach2.jpg"); }

#imageTwentySix {
  background-image: url("../img/sauvie.jpg"); }

#imageTwentySeven {
  background-image: url("../img/sauvie2.jpg"); }

#imageTwentyEight {
  background-image: url("../img/sauvie3.jpg"); }

#imageTwentyNine {
  background-image: url("../img/sauvie4.jpg"); }

#imageThirty {
  background-image: url("../img/fashion.jpg"); }

#imageThirtyOne {
  background-image: url("../img/fashion2.jpg"); }

#imageThirtyTwo {
  background-image: url("../img/fashion3.jpg"); }

#imageThirtyThree {
  background-image: url("../img/gogo.jpg"); }

#imageThirtyFour {
  background-image: url("../img/gogo2.jpg"); }

#imageThirtyFive {
  background-image: url("../img/gogo3.jpg"); }

#imageThirtySix {
  background-image: url("../img/gogo-back.jpg"); }

#imageThirtySeven {
  background-image: url("../img/gobo.jpg"); }

#imageThirtyEight {
  background-image: url("../img/gobo2.jpg"); }

#imageThirtyNine {
  background-image: url("../img/gobo3.jpg"); }

#imageForty {
  background-image: url("../img/gobo4.jpg"); }

@media only screen and (min-width: 1024px) and (max-width: 1025px) {
  .social {
    margin: 18em .2em;
    width: 1.2em; } }
@media only screen and (min-width: 667px) and (max-width: 768px) {
  .social {
    margin: 9em .2em;
    width: 1.2em; }

  .ui.modal {
    width: 88%; } }
@media only screen and (max-width: 415px) {
  .content {
    border: 2px solid #000000;
    display: block;
    margin: 0 auto;
    width: 290px; }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain; }

  .menu li {
    padding: 3em; }

  .modal {
    width: 100%; }

  .name {
    font-size: 1.6em; }

  .wrapper {
    margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
