// Fonts
// @import url('https://fonts.googleapis.com/css?family=Great+Vibes');
//
// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
//
// @import url('https://fonts.googleapis.com/css?family=Monoton');
//
// @import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Sacramento');

// Sass Components
@import "base/index";

body {
  width: 100%;
}

h1 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 2em;
  padding: 1em;
  letter-spacing: .2em;
  text-align: right;
}

h2 {
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: .1em;
  padding-bottom: 1em;
}

h3 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 2em;
  padding: 1em;
  letter-spacing: .2em;
}

h3.title {
  padding: .5em;
}

p {
  font-family: $stack-lora;
  padding: 1.5em;
}

span {
  color: $blue;
}

.background {
  @extend %align;
  @extend %image;
  width: 100%;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  @extend %centered;
}

.container {
  display: flex-inline;
}

.content {
  border: 1px solid $black;
  display: block;
  margin: 0 auto;
  width: 500px;
}

.credentials {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 45%;
}

.exit {
  // z-index: 1;
  display: block;
  margin: 0 auto;
  width: 40px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.grow {
  width: 70px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  margin: 1em;
  width: 3em;
}

.image {
  width: 90%;
}

.intro {
  @extend %centered;
  // border-bottom: 1px solid $black;
  // background-color: $white;
  // background-image: url('#{$path-img}/footer.svg');
  background-repeat: no-repeat;
  background-position: right;
  height: 30%;
}

.label {
  @extend %centered;
  background: $white;
  // background-image: url('#{$path-img}/footer.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;
  a {
    color: $black;
  }
  h3 {
    color: $black;
  }
}

.margin {
  margin-bottom: 3em;
}

.name {
  color: $black;
}

.savvy {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 60%;
}

.social {
  margin: 1.3em .2em;
  width: 1.2em;
}

.plus-minus {
  padding: 1em;
}

.plus-minus li a {
  color: $black;
  font-size: 2em;
}

.vertical-text {
  color: $black;
  font-family: 'Great Vibes', cursive;
  // font-family: $stack-dosis;
  // font-variant: small-caps;
  font-size: .9em;
  transform: rotate(-90deg);
  display: inline-block;
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border: 5px solid $white;
  background: $black;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  // flex-basis: 0;
  flex-wrap: wrap;
  -webkit-filter: grayscale(100%);
  &:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}

#imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven,
#imageEight,
#imageNine,
#imageTen,
#imageEleven,
#imageTwelve,
#imageThirteen,
#imageFourteen,
#imageFifteen,
#imageSixteen,
#imageSeventeen,
#imageEighteen,
#imageNineteen,
#imageTwenty,
#imageTwentyOne,
#imageTwentyTwo,
#imageTwentyThree,
#imageTwentyFour,
#imageTwentyFive,
#imageTwentySix,
#imageTwentySeven,
#imageTwentyEight,
#imageTwentyNine,
#imageThirty,
#imageThirtyOne,
#imageThirtyTwo,
#imageThirtyThree,
#imageThirtyFour,
#imageThirtyFive,
#imageThirtySix,
#imageThirtySeven,
#imageThirtyEight,
#imageThirtyNine,
#imageForty,
#insertOne,
#insertTwo,
#insertThree,
#insertFour,
#insertFive,
#insertSix,
#insertSeven {
  @extend %align;
  @extend %image;
  @extend %opacity;
  &:hover {
    opacity: 1;
  }
}

//INSERT Photos

#insertOne {
  background-image: url('#{$path-img}/pumpkin.jpg');
}

#insertTwo {
  background-image: url('#{$path-img}/pumpkin2.jpg');
}

#insertThree {
  background-image: url('#{$path-img}/pumpkin3.jpg');
}

#insertFour {
  background-image: url('#{$path-img}/corn1.jpg');
}

#insertFive {
  background-image: url('#{$path-img}/corn2.jpg');
}

#insertSix {
  background-image: url('#{$path-img}/corn3.jpg');
}

#insertSeven {
  background-image: url('#{$path-img}/corn4.jpg');
}

//Photos

#imageOne {
  background-image: url('#{$path-img}/boudoir1.jpg');
}

#imageTwo {
  background-image: url('#{$path-img}/boudoir2.jpg');
}

#imageThree {
  background-image: url('#{$path-img}/boudoir3.jpg');
}

#imageFour {
  background-image: url('#{$path-img}/boudoir4.jpg');
}

#imageFive {
  background-image: url('#{$path-img}/boudoir6.jpg');
}

#imageSix {
  background-image: url('#{$path-img}/boudoir5.jpg');
}

#imageSeven {
  background-image: url('#{$path-img}/boudoir7.jpg');
}

#imageEight {
  background-image: url('#{$path-img}/boudoir8.jpg');
}

#imageNine {
  background-image: url('#{$path-img}/boudoir9.jpg');
}

#imageTen {
  background-image: url('#{$path-img}/butterfly.jpg');
}

#imageEleven {
  background-image: url('#{$path-img}/butterfly2.jpg');
}

#imageTwelve {
  background-image: url('#{$path-img}/butterfly3.jpg');
}

#imageThirteen {
  background-image: url('#{$path-img}/shadow.jpg');
}

#imageFourteen {
  background-image: url('#{$path-img}/shadow2.jpg');
}

#imageFifteen {
  background-image: url('#{$path-img}/shadow3.jpg');
}

#imageSixteen {
  background-image: url('#{$path-img}/shadow4.jpg');
}

#imageSeventeen {
  background-image: url('#{$path-img}/mbellis1.jpg');
}

#imageEighteen {
  background-image: url('#{$path-img}/mbellis2.jpg');
}

#imageNineteen {
  background-image: url('#{$path-img}/mbellis3.jpg');
}

#imageTwenty {
  background-image: url('#{$path-img}/mbellis4.jpg');
}

#imageTwentyOne {
  background-image: url('#{$path-img}/mbellis5.jpg');
}

#imageTwentyTwo {
  background-image: url('#{$path-img}/urban.jpg');
}

#imageTwentyThree {
  background-image: url('#{$path-img}/beach.jpg');
}

#imageTwentyFour {
  background-image: url('#{$path-img}/beach1.jpg');
}

#imageTwentyFive {
  background-image: url('#{$path-img}/beach2.jpg');
}

#imageTwentySix {
  background-image: url('#{$path-img}/sauvie.jpg');
}

#imageTwentySeven {
  background-image: url('#{$path-img}/sauvie2.jpg');
}

#imageTwentyEight {
  background-image: url('#{$path-img}/sauvie3.jpg');
}

#imageTwentyNine {
  background-image: url('#{$path-img}/sauvie4.jpg');
}

#imageThirty {
  background-image: url('#{$path-img}/fashion.jpg');
}

#imageThirtyOne {
  background-image: url('#{$path-img}/fashion2.jpg');
}

#imageThirtyTwo {
  background-image: url('#{$path-img}/fashion3.jpg');
}

#imageThirtyThree {
  background-image: url('#{$path-img}/gogo.jpg');
}

#imageThirtyFour {
  background-image: url('#{$path-img}/gogo2.jpg');
}

#imageThirtyFive {
  background-image: url('#{$path-img}/gogo3.jpg');
}

#imageThirtySix {
  background-image: url('#{$path-img}/gogob.jpg');
}

// #imageThirtySeven {
//   background-image: url('#{$path-img}/gobo.jpg');
// }
//
// #imageThirtyEight {
//   background-image: url('#{$path-img}/gobo2.jpg');
// }
//
// #imageThirtyNine {
//   background-image: url('#{$path-img}/gobo3.jpg');
// }
//
// #imageForty {
//   background-image: url('#{$path-img}/gobo4.jpg');
// }

// Media Queries
@media only screen and
(min-width: 1024px)
and (max-width: 1025px) {
  .social {
    margin: 18em .2em;
    width: 1.2em;
  }
}

@media only screen and
(min-width: 667px)
and (max-width: 768px) {
  .label {
    // background-image: url('#{$path-img}/hidden.svg');
  }

  .social {
    margin: 9em .2em;
    width: 1.2em;
  }
  //Modal//
  .ui.modal {
    width: 88%;
  }
}

@media only screen
and (max-width: 415px) {
  .content {
    border: 2px solid $black;
    display: block;
    margin: 0 auto;
    width: 290px;
  }

  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .label,
  .intro {
    background-image: url('#{$path-img}/hidden.svg');
  }

  .menu li {
    padding: 3em;
  }

  .modal {
    width: 100%;
  }

  .name {
    font-size: 1.6em;
  }

  .wrapper {
    margin: 0 auto;
  }
}
